
@media(max-width:75em), (max-height: 50em) {

    div.toolbars {
        width: 22%;
    }

    .drawing-stuff button {
        font-size: 10px;
    }

    .tools {
        font-size: 14px;
    }

    div.toolbar-container-one button {
        font-size: 10px;
    }

    .colour-changer label[for='colour'] {
        font-size: 16px;
    }

    .lwidth {
        font-size: 14px;
        margin-bottom: 5px;
    }
}


@media (max-width: 52em) {

    div.main-container {
        gap: 0%;
    }

    div.sketch-container {
        margin-left: 30px;
        width: 60%;
    }

    div.toolbars {
        width: 30%;
    }

    div.toolbar-container-one, .toolbar-container-two, .save-btn {
        margin-right: 0;
    }

}


@media (max-width: 45em) {

    input.line-width {
        width: 5%;
    }

}


@media (max-width: 39em), (max-height: 37em) {
    
    div.toolbars {
        transform: translateX(120%);
        width: 38%;
    }

    div.sketch-container {
        justify-content: flex-start;
        margin-left: 0;
    }

    div.toggle-btns-container {
        display: flex;
        min-height: 40px;
        min-width: 175px;
    }

    .shape-btns {
        flex-direction: row;
    }

    div.toolbar-container-one, div.toolbar-container-two {
        min-height: 230px;
    }


    div.shape-btn-container-one {
        flex-direction: column;
        height: 100%;
        width: 70%;
    }

    div.shape-btn-container-two {
        flex-direction: column;
        height: 100%;
        width: 70%;
        gap: 10px;
    }

    div.save-btn {
        min-height: 60px;
    }

    div.shape-btn-container-two button, div.shape-btn-container-one button {
        font-size: 8px;
        height: 30%;
        width: 80%;
        flex-shrink: 0;
    }

    .save-btn button {
        font-size: 14px;
    }

    .colour-changer label[for='colour'] {
        font-size: 14px;
    }
    
    div.lwidth {
        font-size: 12px;
        width: 80%;
    }
}


@media (max-height: 43em) {

    div.toolbar-container-one, .toolbar-container-two {
        height: 45%;
    }

    div.tools {
        font-size: 12px;
        gap: 3px;
    }
}