body {
    background-color: #4e3a3a;/*#999999;/*#ad6f6f;#e7d39c;*/
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #383838;
    overflow: hidden;
}


div.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 5%;
}


div.sketch-container {
    display: flex;
    height: 80%;
    width: 60%;
    justify-content: center;
    align-items: center;
}


canvas.sketch {  
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px solid #383838;
    z-index: 1;
}



.toolbars {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}


.toolbar-container-one {
    background-color: #eeeeee;
    margin-left: 3em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 35%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 10px 15px 10px #331f1f;
    border: 3px solid #383838;
    z-index: 1;
}


.tools{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.shape-btn-container-one {
    display: flex;
    flex-direction: row;
    width: 18em;
    align-items: center;
    justify-content: center;
    gap: 3%;
}


.shape-btn-container-one button {

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid#383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;
    width: 30%;
    height: 100%;
}


.shape-btn-container-two {
    display: flex;
    flex-direction: row;
    width: 18em;
    align-items: center;
    justify-content: center;
    gap: 3%;
}


.shape-btn-container-two button {

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid #383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;
    width: 30%;
    height: 100%;
}


.toolbar-container-two {
    background-color: #eeeeee;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 10px 15px 10px #331f1f;
    border: 3px solid #383838;
    z-index: 1;
}


.drawing-stuff {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
}


.colour-changer {
    text-align: center;
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
}


.colouring-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;
}


label[for='colour'] {
    font-weight: bold;
    font-size: 20px;
}


input#colour {
    width: 75%;
    height: 80%;
    box-shadow: 5px 7px 15px #331f1f;
}


.line-width-label {
    text-align: center;
    position: relative;
    top: 15px;
}


.drawing-stuff button {
    width: 10em;
    height: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid #383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;
    width: 50%;
    height: 20%;
}


.save-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 12%;
    margin-left: 3em;
}


.save-btn button {
    font-family: 'Roboto Slab', serif;
    color: #383838;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5%;
    background-color: #eeeeee;
    width: 70%;
    height: 100%;
    box-shadow: 10px 15px 10px #331f1f;
    border: 3px solid #383838;
    z-index: 1;
}


.save-btn button:hover {
    background-color: #584141;
    color: #ffffff;
    border: 2px solid #ffffff;
}


.blinds-effect-container {
    position: absolute;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 30%;
    z-index: 0;
}

.blind {
    background-color: #4e3a3a;
    margin-left: 10px;
    height: 100%;
    width: 6%;
    opacity: .8;
    box-shadow: 0px 0px 10px #000000;
}



.photo-container {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 32%;
    z-index: -1;
}

img {
    height: 100%;
    width: 100%;
}