body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}


div.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}


div.sketch-container {
    background-color: white;
    display: flex;
    height: 55em;
    width: 70em;
    justify-content: center;
    align-items: center;
}


canvas.sketch {  
    background-color: white;
    display: flex;
    height: 55em;
    width: 70em;
}



.toolbars {
    background-color: red;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.toolbar-container-one {
    background-color: white;
    margin-left: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 25em;
    width: 20em;
    border-radius: 5%;
}


.tools{
    background-color: aquamarine;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.shape-choice-container {
    background-color: #fafcff;
    margin-left: 2em;
    display: flex;
    justify-content: space-evenly;
    height: 9em;
    width: 20em;
    border-radius: 5%;
}


.shape-btn-container-one {
    display: flex;
    flex-direction: column;
    width: 5em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}


.shape-btn-container-two {
    display: flex;
    flex-direction: column;
    width: 5em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}


.shape-choice-container button {
    width: 6em;
    height: 3em;
    border-radius: 25%;
    border: 2px solid steelblue;
    background-color: darkcyan;
    color: whitesmoke;
    font-weight: bold;
}


.toolbar-container-two {
    background-color: white;
    margin-left: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22em;
    width: 20em;
    border-radius: 5%;
}


.drawing-stuff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.colour-changer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}


.line-width-label {
    text-align: center;
    position: relative;
    top: 15px;
}


.shapes-container {
    background-color: white;
    margin-top: 1.4em;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-right: 2em;
    height: 200px;
    width: 25em;
    border-radius: 5%;
}


button {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-weight: bold;
}