body {
    background-color: #4e3a3a;/*#999999;/*#ad6f6f;#e7d39c;*/
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #383838;
    overflow: hidden;
}


div.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 3em;
}


div.sketch-container {
    display: flex;
    height: 80%;
    width: 60%;
    justify-content: center;
    align-items: center;
}


canvas.sketch {  
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    /*height: 55rem;
    width: 70rem;*/
}



.toolbars {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}


.toolbar-container-one {
    background-color: #eeeeee;
    margin-left: 3em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 35%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 10px 15px 10px #331f1f;
}


.tools{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.shape-btn-container-one {
    display: flex;
    flex-direction: row;
    width: 18em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}


.shape-btn-container-one button {

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid#383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;
}


.shape-btn-container-two {
    display: flex;
    flex-direction: row;
    width: 18em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}


.shape-btn-container-two button {

    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid #383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;
}


button.fill-shape, .undo-shape {
    width: 7em;
    height: 3em;
}


.toolbar-container-two {
    background-color: #eeeeee;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 10px 15px 10px #331f1f;
}


.drawing-stuff {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}


.colour-changer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}


label[for='colour'] {
    font-weight: bold;
    font-size: 20px;
}


input#colour {
    width: 10em;
    height: 5em;
    box-shadow: 5px 7px 15px #331f1f;
}


.line-width-label {
    text-align: center;
    position: relative;
    top: 15px;
}


.drawing-stuff button {
    width: 10em;
    height: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    border: 2px solid #383838;
    border-radius: 10%;
    background-color: #584141;
    box-shadow: 5px 7px 15px #331f1f;
    color: #ffffff;

}


.save-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 12%;
    margin-left: 3em;
}


.save-btn button {
    font-family: 'Roboto Slab', serif;
    color: #383838;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5%;
    background-color: #eeeeee;
    width: 70%;
    height: 100%;
    box-shadow: 10px 15px 10px #331f1f;
}


.save-btn button:hover {
    background-color: #584141;
    color: #ffffff;
}